@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/* container */
#container{
    display: flex;
    height: 100vh;
}
/* two divs */
#title{
    background-color: rgb(45, 47, 61);
    text-align: center;
    color: white;
    width: 50%;
}
/* watch */
#watch{
    width: 50%;
    position: relative;
}
/* outer box */
.outerBox{
    position: absolute;
    top: 200px;
    left: 250px;
    height: 340px;
    width: 250px;
    background-color: rgb(71, 71, 71);
    border-radius: 50px;
}
.innerBox{
    position: absolute;
    top: 20px;
    background-color: black;
    border-radius: 40px;
    height: 300px;
    width: 250px;
}
.smallTime{
    position: absolute;
    color: white;
    top: 10px;
    left: 105px;
}
/* main content */
.mainContent{
    color: white;
}
.bigTime{
    position: absolute;
    top: 60px;
    left: 45px;
    font-size: 65px;
}
#day{
    position: absolute;
    top: 135px;
    left: 96px;
    font-size: 23px;
}
/* icons */
.msg svg{
    position: absolute;
    top: 230px;
    left: 25px;
    height: 45px;
}
.music svg{
    position: absolute;
    top: 230px;
    left: 100px;
    height: 45px;
}
.clock svg{
    position: absolute;
    top: 230px;
    left: 180px;
}